body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #f5f5f5;
}

h1,
h2 {
    color: #333;
}

form {
    margin: 20px auto;
    width: 300px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

input,
textarea,
button {
    width: 90%;
    margin-bottom: 10px;
    padding: 8px;
}

button {
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background: #0056b3;
}

.erro {
    color: red;
    font-weight: bold;
}